:root {
    --primary-color-light-red: hsl(0, 100%, 67%);
    --primary-color-orangey-yellow: hsl(39, 100%, 56%);
    --primary-color-green-teal: hsl(166, 100%, 37%);
    --primary-color-cobalt-blue: hsl(234, 85%, 45%);
    --gradient-color-slate-blue: hsl(252, 100%, 67%);
    --gradient-color-royal-blue: hsl(241, 81%, 54%);
    --gradient-color-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-color-persian-blue: hsla(241, 72%, 46%, 0);
    --neutral-color-white: hsl(0, 0%, 100%);
    --neutral-color-pale-blue: hsl(221, 100%, 96%);
    --neutral-color-light-lavender: hsl(241, 100%, 89%);
    --neutral-color-dark-gray-blue: hsl(224, 30%, 27%);

    --font-size-body: 18px;

    --font-weight-normal: 500;
    --font-weight-semi-bold: 700;
    --font-weight-bold: 800;
}

@font-face {
    font-family: Hanken;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Hanken;
    font-size: var(--font-size-body);
}

.container {
    height: 100vh;
    background-color: var(--neutral-color-pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-color-white);
    border-radius: 32px;
    width: 90%;
    max-width: 800px;
}

.result {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 40px;
    background-image: linear-gradient(var(--gradient-color-slate-blue), var(--gradient-color-royal-blue));
    color: var(--neutral-color-white);
    border-radius: 32px;
    text-align: center;
}

.result > h2 {
    color: var(--neutral-color-light-lavender);
}

.score {
    color: var(--neutral-color-light-lavender);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(var(--gradient-color-violet-blue), var(--gradient-color-persian-blue));
    padding: 40px;
    width: 160px;
    height: 160px;
}

.score > h3 {
    font-size: 56px;
    color: var(--neutral-color-white);
    font-weight: var(--font-weight-bold);
}

.result > h3 {
    font-size: 24px;
}

.result > p {
    color: var(--neutral-color-light-lavender);
}

.summary {
    width: 50%;
    padding: 40px;
    color: var(--neutral-color-dark-gray-blue);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.summary > h2 {
    font-size: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: hsla(224, 30%, 27%, 0.5);
}

.stats > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
}

.heading {
    display: flex;
    gap: 12px;
}

.heading h3,
.heading p {
    font-size: 16px;
}

.reaction > p > span,
.memory > p > span,
.verbal > p > span,
.visual > p > span {
    font-weight: var(--font-weight-bold);
    color: var(--neutral-color-dark-gray-blue);
    font-size: 16px;
}

.reaction > p,
.memory > p,
.verbal > p,
.visual > p {
    font-size: 16px;
}


.reaction {
    background-color: hsla(0, 100%, 67%, 0.08);
}

.reaction > .heading > h3 {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.08);
}

.memory > .heading > h3 {
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.08);
}

.verbal > .heading > h3 {
    color: hsl(166, 100%, 37%);
}
.visual {
    background-color:  hsla(234, 85%, 45%, 0.08);
}

.visual > .heading > h3 {
    color:  hsl(234, 85%, 45%);
}

.summary a {
    text-decoration: none;
    color: var(--neutral-color-white);
    background-color: var(--neutral-color-dark-gray-blue);
    padding: 12px;
    text-align: center;
    border-radius: 100px;
}

.summary a:hover {
    background-image: linear-gradient(var(--gradient-color-slate-blue), var(--gradient-color-royal-blue));
}

@media (max-width: 700px) {

    .card {
        display: flex;
        flex-direction: column;
    }

    .result,
    .summary {
        width: 100%;
    }
    
}